<div class="row">
  <div class="col">

    <div class="card">
      <div class="card-body">
        <div class="row g-3 align-items-center">
          
          <div class="col-auto">
            <input type="text" placeholder="pencarian" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          </div>
          <div class="col-auto">
            <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <div class="card shadow">
      <div class="card-body">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Question</th>
              <th scope="col">Answer</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <% @efficacious_test.each_with_index do |ef, index| %>
            <tr>
                <td><%= index += 1%></td>

                <% @identy = Identy.find_by(id: ef.identy) %>
                <td><%= @identy.name %></td>
                
                <% @reference = Reference.find_by(jenis: 2, id: ef.question) %>
                <td><%= @reference.deskripsi %></td>
                
                <td><%= ef.answer %></td>
                <td><%= ef.created_at %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>